
<%- include('layout/mainpage_header') %>
    <!--Phần nội dung-->
    <div class="main-background slideshow-container">
      <i class="fa-solid fa-play" id="playButton"></i>
      <i class="fa-solid fa-stop" id="stopButton" style="display: none;"></i>
      <i class="fa-solid fa-chevron-left" id="home-slide-leftBtn"></i>
      <i class="fa-solid fa-chevron-right" id="home-slide-rightBtn"></i>
      <div>
        <img class="mySlides" src="/image/ads.png" alt="">
      </div>      
      <div >
        <img class="mySlides" src="/image/ads2.png" alt="">
      </div>
      <div>
        <img class="mySlides" src="/image/ads3.png" alt="">
      </div>
      <div>
        <img class="mySlides" src="/image/ads4.png" alt="">
      </div>
      <div>
        <img class="mySlides" src="/image/ads5.png" alt="">
      </div>
      <div>
        <img class="mySlides" src="/image/ads6.png" alt="">
      </div>
        
        <!-- <img class="icon-ads left" src="/iconn/chevronleft.svg" alt="" />
        <img class="icon-ads right" src="/iconn/chevronright.svg"  alt=""/> -->
    </div>
    <div class="body-home">
        <div class="body-news">
            <h3 class="main-blog-text">Bài viết liên quan</h3>
            
            <div class="line"></div>
            <div class="main-card row">
              <img class="main-card-img" src="image/bv3.jpg" alt="">
              <div class="main-card-content">
                <div class="main-card-title">Sự gia tăng đáng báo động: Khủng hoảng toàn cầu về tình trạng thừa cân và béo phì ở trẻ em</div>
                <div class="main-card-text">Bài viết này khám phá sự gia tăng toàn cầu của bệnh béo phì ở trẻ em, nêu bật các rủi ro sức khỏe liên quan và tác động lâu dài đến sức khỏe cộng đồng. Vấn đề này đã trở nên nghiêm ...</div>
              </div>
             
            </div>
            <div class="main-card row">
              <img class="main-card-img" src="image/r1c4.jpg" alt="">
              <div class="main-card-content">
                <div class="main-card-content">
                  <div class="main-card-title">Giảm cân thành công phụ thuộc vào việc ăn nhiều protein</div>
                  <div class="main-card-text">Nghiên cứu cho thấy chế độ ăn uống linh hoạt và cá nhân hóa, tập trung vào việc tăng lượng protein và chất xơ đồng thời hạn chế lượng calo, sẽ cải thiện đáng kể thành công giảm cân. Bài viết này thảo luận về cách tiếp cận cá nhân .....

                  </div>
                </div>
              </div>
            </div>
            <div class="main-card row">
              <img class="main-card-img" src="image/bv2.jpg" alt="">
              <div class="main-card-content">
                <div class="main-card-title">Tiêu thụ thịt đỏ và thịt chế biến có liên quan đến...</div>
                <div class="main-card-text">Một nghiên cứu với hơn hai triệu người đã tìm thấy mối tương quan chặt chẽ giữa việc tiêu thụ thịt đỏ và thịt chế biến sẵn với việc tăng nguy cơ mắc bệnh tiểu đường Loại 2. Bài viết này đi sâu vào ý nghĩa của những phát hiện này và cách lựa chọn chế độ ...</div>
              </div>
            </div>
            <div class="main-card row">
              <img class="main-card-img" src="image/bv1.jpg" alt="">
              <div class="main-card-content">
                <div class="main-card-title">Hành vi ăn uống của cha mẹ ảnh hưởng đến con cái họ...</div>
                <div class="main-card-text">Bài viết này xem xét hành vi và lựa chọn ăn uống của cha mẹ có thể hình thành mối quan hệ của con cái họ với thực phẩm như thế nào, có khả năng ảnh hưởng đến kết quả sức khỏe lâu dài như béo phì và thói quen ăn kiêng.</div>
              </div>
            </div>
            <div class="main-card-see-more">Xem thêm
            <i class="fa-solid fa-chevron-down"></i>
          </div>
        </div>
        <div class="home-body-nav">
            <h3 class="main-blog-text">Loại sản phẩm</h3>
            <div class="line"></div>
            <!-- <div class="main-list-frame">
               
                <a class="main-list-pick main-list-pick-underline">Tất cả</a>
                <a class="main-list-pick">Rau sạch</a>
                <a class="main-list-pick">Thịt tươi</a>
                <a class="main-list-pick">Trái cây hữu cơ</a>
                
            </div> -->
            <div class="container2">
              <i class="fa-solid fa-chevron-left" id="leftBtn"></i>
              <div class="main-list-product-sample" id="productSlider">
                
                <div class="main-item-product-sample">               
                  <img class="main-item-product-sample-img" src="/image/demoall.jpg" alt="">              
                  <div class="main-item-product-sample-title">Tất cả</div>
                </div>
                <div class="main-item-product-sample">               
                  <img class="main-item-product-sample-img" src="/image/demo1.png" alt="">              
                  <div class="main-item-product-sample-title">Thực phẩm</div>
                </div>
                <div class="main-item-product-sample">               
                  <img class="main-item-product-sample-img" src="/image/demo3.png" alt="">              
                  <div class="main-item-product-sample-title">Văn phòng phẩm</div>
                </div>
                <div class="main-item-product-sample">               
                  <img class="main-item-product-sample-img" src="/image/demo5.png" alt="">              
                  <div class="main-item-product-sample-title">Gia dụng</div>
                </div>
                
                <div class="main-item-product-sample">               
                  <img class="main-item-product-sample-img" src="/image/demo15.png" alt="">              
                  <div class="main-item-product-sample-title">Mỹ phẩm</div>
                </div>
                <div class="main-item-product-sample">               
                  <img class="main-item-product-sample-img" src="/image/demo13.png" alt="">              
                  <div class="main-item-product-sample-title">Thời trang</div>
                </div>
                <div class="main-item-product-sample">               
                  <img class="main-item-product-sample-img" src="/image/demo14.png" alt="">              
                  <div class="main-item-product-sample-title">Thiết bị điện tử</div>
                </div>
                <div class="main-item-product-sample">               
                  <img class="main-item-product-sample-img" src="/image/demo11.png" alt="">              
                  <div class="main-item-product-sample-title">Đồ uống</div>
                </div>
                <!-- <div class="main-item-product-sample">               
                  <img class="main-item-product-sample-img" src="/image/demo10.jpg" alt="">              
                  <div class="main-item-product-sample-title">Cây trồng hạt giống</div>
                </div> -->
              </div>
              <i class="fa-solid fa-chevron-right" id="rightBtn"></i>
            </div>

        </div>
        <div class="home-body-product-list">
            <!-- Hàng sản phẩm thứ nhất -->
            <div class="home-body-product-item">
              <h3 class="home-body-product-item-title">
                <i class="fa-solid fa-lemon"></i>
                Thực phẩm hữu cơ</h3>
              
                <!-- Hàng sản phẩm thực phẩm -->
                <div class="home-body-product-item-frame">
                  <i class="fa-solid fa-chevron-left " id="home-product-leftBtn"></i>
                  <% productsTP.forEach(product => { %>
                      <a href="/product-detail/<%= product.MaSP  %>" class="body-list-product-item">
                          <div class="body-list-products-item-img">
                              <img src="/product_image/<%= product.HinhChinh %>" alt="<%= product.TenSP %>" class="product-list-img">
                          </div>
                          <div class="body-list-product-item-title"><%= product.TenSP %></div>
                          <div class="body-list-product-item-discount">15%</div> <!-- Thay bằng logic nếu có giảm giá -->
                          <div class="body-list-products-item-price">
                              <%= new Intl.NumberFormat('vi-VN').format(product.DGBanMacDinh) %>
                              <div class="body-list-products-item-price-unit">đ</div>
                              <i class="fa-solid fa-tag"></i>
                          </div>
                      </a>
                  <% }); %>
                  <i class="fa-solid fa-chevron-right " id="home-product-rightBtn rightBtn "></i>
                </div>

            </div>
            <!-- Hàng sản phẩm thứ hai -->
            <div class="home-body-product-item" style="background-color: #f5f5f5;">
              <h3 class="home-body-product-item-title" style="color:  green;">
                <i class="fa-solid fa-book"></i>
                Văn phòng phẩm</h3>
              <!-- Hàng sản phẩm thứ nhất -->
                <div class="home-body-product-item-frame">
                  <i class="fa-solid fa-chevron-left" id=" home-product-leftBtn"></i>
                  <% productsVPP.forEach(product => { %>
                    <a href="/product-detail/<%= product.MaSP  %>" class="body-list-product-item">
                        <div class="body-list-products-item-img">
                            <img src="/product_image/<%= product.HinhChinh %>" alt="<%= product.TenSP %>" class="product-list-img">
                        </div>
                        <div class="body-list-product-item-title"><%= product.TenSP %></div>
                        <div class="body-list-product-item-discount">15%</div> <!-- Thay bằng logic nếu có giảm giá -->
                        <div class="body-list-products-item-price">
                            <%= new Intl.NumberFormat('vi-VN').format(product.DGBanMacDinh) %>
                            <div class="body-list-products-item-price-unit">đ</div>
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </a>
                <% }); %>
                  <i class="fa-solid fa-chevron-right" id=" home-product-leftBtn"></i>
                </div>
            </div>

            <!-- Hàng sản phẩm thứ ba -->
            <div class="home-body-product-item">
              <h3 class="home-body-product-item-title">
                <i class="fa-solid fa-utensils"></i>
                Gia dụng</h3>
              <!-- Hàng sản phẩm gia dụng -->
                <div class="home-body-product-item-frame">
                  <i class="fa-solid fa-chevron-left" id=" home-product-leftBtn"></i>
                  <% productsGD.forEach(product => { %>
                    <a href="/product-detail/<%= product.MaSP  %>" class="body-list-product-item">
                        <div class="body-list-products-item-img">
                            <img src="/product_image/<%= product.HinhChinh %>" alt="<%= product.TenSP %>" class="product-list-img">
                        </div>
                        <div class="body-list-product-item-title"><%= product.TenSP %></div>
                        <div class="body-list-product-item-discount">15%</div> <!-- Thay bằng logic nếu có giảm giá -->
                        <div class="body-list-products-item-price">
                            <%= new Intl.NumberFormat('vi-VN').format(product.DGBanMacDinh) %>
                            <div class="body-list-products-item-price-unit">đ</div>
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </a>
                <% }); %>
                  <i class="fa-solid fa-chevron-right" id=" home-product-leftBtn"></i>
                </div>
            </div>

            <!-- Hàng sản phẩm thứ tư -->
            <div class="home-body-product-item" style="background-color: #f5f5f5;">
              <h3 class="home-body-product-item-title" style="color: green;">
                <i class="fa-solid fa-hand-holding-medical"></i>
                Chăm sóc cá nhân</h3>
                <div class="home-body-product-item-frame">
                  <i class="fa-solid fa-chevron-left" id=" home-product-leftBtn"></i>
                  <% productsCSCN.forEach(product => { %>
                    <a href="/product-detail/<%= product.MaSP  %>" class="body-list-product-item">
                        <div class="body-list-products-item-img">
                            <img src="/product_image/<%= product.HinhChinh %>" alt="<%= product.TenSP %>" class="product-list-img">
                        </div>
                        <div class="body-list-product-item-title"><%= product.TenSP %></div>
                        <div class="body-list-product-item-discount">15%</div> <!-- Thay bằng logic nếu có giảm giá -->
                        <div class="body-list-products-item-price">
                            <%= new Intl.NumberFormat('vi-VN').format(product.DGBanMacDinh) %>
                            <div class="body-list-products-item-price-unit">đ</div>
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </a>
                <% }); %>
                  <i class="fa-solid fa-chevron-right" id=" home-product-leftBtn"></i>
                </div>
            </div>

            <!-- Hàng sản phẩm thứ năm -->
            <div class="home-body-product-item">
              <h3 class="home-body-product-item-title" style="color: white;">
                <i class="fa-solid fa-crown"></i>
                Mỹ phẩm</h3>
                <div class="home-body-product-item-frame">
                  <i class="fa-solid fa-chevron-left" id=" home-product-leftBtn"></i>
                  <% productsMP.forEach(product => { %>
                    <a href="/product-detail/<%= product.MaSP  %>" class="body-list-product-item">
                        <div class="body-list-products-item-img">
                            <img src="/product_image/<%= product.HinhChinh %>" alt="<%= product.TenSP %>" class="product-list-img">
                        </div>
                        <div class="body-list-product-item-title"><%= product.TenSP %></div>
                        <div class="body-list-product-item-discount">15%</div> <!-- Thay bằng logic nếu có giảm giá -->
                        <div class="body-list-products-item-price">
                            <%= new Intl.NumberFormat('vi-VN').format(product.DGBanMacDinh) %>
                            <div class="body-list-products-item-price-unit">đ</div>
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </a>
                    <% }); %>
                  <i class="fa-solid fa-chevron-right" id=" home-product-leftBtn"></i>
                </div>
            </div>

            <!-- Hàng sản phẩm thứ sáu -->
            <div class="home-body-product-item" style="background-color: #f5f5f5;">
              <h3 class="home-body-product-item-title" style="color: green;">
                <i class="fa-solid fa-socks"></i>
                Thời trang xanh</h3>
                <div class="home-body-product-item-frame">
                  <i class="fa-solid fa-chevron-left" id=" home-product-leftBtn"></i>
                  <% productsTT.forEach(product => { %>
                    <a href="/product-detail/<%= product.MaSP  %>" class="body-list-product-item">
                        <div class="body-list-products-item-img">
                            <img src="/product_image/<%= product.HinhChinh %>" alt="<%= product.TenSP %>" class="product-list-img">
                        </div>
                        <div class="body-list-product-item-title"><%= product.TenSP %></div>
                        <div class="body-list-product-item-discount">15%</div> <!-- Thay bằng logic nếu có giảm giá -->
                        <div class="body-list-products-item-price">
                            <%= new Intl.NumberFormat('vi-VN').format(product.DGBanMacDinh) %>
                            <div class="body-list-products-item-price-unit">đ</div>
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </a>
                    <% }); %>
                  <i class="fa-solid fa-chevron-right" id=" home-product-leftBtn"></i>
                </div>
            </div>
        
            <!-- Hàng sản phẩm thứ chín -->
            <div class="home-body-product-item">
              <h3 class="home-body-product-item-title" style="color: white;">
                <i class="fa-solid fa-mug-hot"></i>
                Đồ uống</h3>
                <div class="home-body-product-item-frame">
                  <i class="fa-solid fa-chevron-left" id=" home-product-leftBtn"></i>
                  <% productsDU.forEach(product => { %>
                    <a href="/product-detail/<%= product.MaSP  %>" class="body-list-product-item">
                        <div class="body-list-products-item-img">
                            <img src="/product_image/<%= product.HinhChinh %>" alt="<%= product.TenSP %>" class="product-list-img">
                        </div>
                        <div class="body-list-product-item-title"><%= product.TenSP %></div>
                        <div class="body-list-product-item-discount">15%</div> <!-- Thay bằng logic nếu có giảm giá -->
                        <div class="body-list-products-item-price">
                            <%= new Intl.NumberFormat('vi-VN').format(product.DGBanMacDinh) %>
                            <div class="body-list-products-item-price-unit">đ</div>
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </a>
                    <% }); %>
                  <i class="fa-solid fa-chevron-right" id=" home-product-leftBtn"></i>
                </div>
            </div>

            <!-- Hàng sản phẩm thứ bảy -->
            <div class="home-body-product-item">
              <h3 class="home-body-product-item-title" style="color: white;">
                <i class="fa-solid fa-carrot" ></i>
                Thiết bị điện tử</h3>
                <div class="home-body-product-item-frame">
                  <i class="fa-solid fa-chevron-left" id=" home-product-leftBtn"></i>
                  <% productsTBDT.forEach(product => { %>
                    <a href="/product-detail/<%= product.MaSP  %>" class="body-list-product-item">
                        <div class="body-list-products-item-img">
                            <img src="/product_image/<%= product.HinhChinh %>" alt="<%= product.TenSP %>" class="product-list-img">
                        </div>
                        <div class="body-list-product-item-title"><%= product.TenSP %></div>
                        <div class="body-list-product-item-discount">15%</div> <!-- Thay bằng logic nếu có giảm giá -->
                        <div class="body-list-products-item-price">
                            <%= new Intl.NumberFormat('vi-VN').format(product.DGBanMacDinh) %>
                            <div class="body-list-products-item-price-unit">đ</div>
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </a>
                    <% }); %>
                  <i class="fa-solid fa-chevron-right" id=" home-product-leftBtn"></i>
                </div>
            </div>

            <!-- Hàng sản phẩm thứ tám -->
            <div class="home-body-product-item" style="background-color: #f5f5f5;">
              <h3 class="home-body-product-item-title" style="color: green;">
                <i class="fa-solid fa-recycle"></i>
                Khác</h3>
                <div class="home-body-product-item-frame">
                  <i class="fa-solid fa-chevron-left" id=" home-product-leftBtn"></i>
                  <% productsKhac.forEach(product => { %>
                    <a href="/product-detail/<%= product.MaSP  %>" class="body-list-product-item">
                        <div class="body-list-products-item-img">
                            <img src="/product_image/<%= product.HinhChinh %>" alt="<%= product.TenSP %>" class="product-list-img">
                        </div>
                        <div class="body-list-product-item-title"><%= product.TenSP %></div>
                        <div class="body-list-product-item-discount">15%</div> <!-- Thay bằng logic nếu có giảm giá -->
                        <div class="body-list-products-item-price">
                            <%= new Intl.NumberFormat('vi-VN').format(product.DGBanMacDinh) %>
                            <div class="body-list-products-item-price-unit">đ</div>
                            <i class="fa-solid fa-tag"></i>
                        </div>
                    </a>
                    <% }); %>
                  <i class="fa-solid fa-chevron-right" id=" home-product-leftBtn"></i>
                </div>
            </div>
           
            
        </div>
       
    </div>
    
<link rel="stylesheet" href="chatbot.js">
<script type="module">
    import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js"
    Chatbot.init({
        chatflowid: "140ae8e9-704b-4685-8867-e2c580d9d721",
        apiHost: "http://localhost:3000",
        chatflowConfig: {
            // topK: 2
        },
        theme: {
            button: {
                backgroundColor: "#dcd8d8",
                right: 20,
                bottom: 20,
                size: 48, // small | medium | large | number
                dragAndDrop: true,
                iconColor: "black",
                customIconSrc: "https://i.pinimg.com/736x/f1/7d/db/f17ddb244e3f2f6a720e61cd3f8161fb.jpg",
                autoWindowOpen: {
                    autoOpen: true, //parameter to control automatic window opening
                    openDelay: 2, // Optional parameter for delay time in seconds
                    autoOpenOnMobile: false, //parameter to control automatic window opening in mobile
                    },
            },
            tooltip: {
                showTooltip: true,
                tooltipMessage: 'Hi There 👋!',
                tooltipBackgroundColor: 'green',
                tooltipTextColor: 'white',
                tooltipFontSize: 16,
            },
            chatWindow: {
                showTitle: true,
                title: 'Ecolink for life',
                titleAvatarSrc: 'https://i.pinimg.com/736x/f1/7d/db/f17ddb244e3f2f6a720e61cd3f8161fb.jpg',
                showAgentMessages: true,
                welcomeMessage: 'Hello! How can I help you',
                errorMessage: 'Wait a minute! I will contact with EcoAssistant now.',
                backgroundColor: "#ffffff",
                backgroundImage: 'enter image path or link', // If set, this will overlap the background color of the chat window.
                height: 450,
                width: 350,
                fontSize: 16,
                //starterPrompts: ['What is a bot?', 'Who are you?'], // It overrides the starter prompts set by the chat flow passed
                starterPromptFontSize: 15,
                clearChatOnReload: false, // If set to true, the chat will be cleared when the page reloads.
                botMessage: {
                    backgroundColor: "#f7f8ff",
                    textColor: "#303235",
                    showAvatar: true,
                    avatarSrc: "https://i.pinimg.com/736x/f1/7d/db/f17ddb244e3f2f6a720e61cd3f8161fb.jpg",
                },
                userMessage: {
                    backgroundColor: "#007b59",
                    textColor: "#ffffff",
                    showAvatar: true,
                    avatarSrc: "https://i.pinimg.com/736x/2b/c9/05/2bc905c07667a2e70cc78fe0242b8d78.jpg",
                },
                textInput: {
                    placeholder: 'Type your question',
                    backgroundColor: '#ffffff',
                    textColor: '#303235',
                    sendButtonColor: '#007b59',
                    maxChars: 50,
                    maxCharsWarningMessage: 'You exceeded the characters limit. Please input less than 50 characters.',
                    autoFocus: true, // If not used, autofocus is disabled on mobile and enabled on desktop. true enables it on both, false disables it on both.
                    sendMessageSound: true,
                    // sendSoundLocation: "send_message.mp3", // If this is not used, the default sound effect will be played if sendSoundMessage is true.
                    receiveMessageSound: true,
                    // receiveSoundLocation: "receive_message.mp3", // If this is not used, the default sound effect will be played if receiveSoundMessage is true. 
                },
                feedback: {
                    color: '#303235',
                },
                footer: {
                    textColor: '#303235',
                    text: 'Powered by',
                    company: 'Ecolink for life',
                    companyLink: 'https://flowiseai.com',
                }
            }
        }
    })
</script>
    <script type="text/javascript" src="/function.js">
      
    </script>

</body>
<%- include('layout/footer')  %>