<%- include('layout/mainpage_header') %>
     <!-- Back ground -->
     <div class="body-background">
      <img class="body-background-img" src="./image/qc-sanpham.jpg" alt="">
      <div class="body-background-text">
        <h1 class="body-background-text-title">Ecolink for life</h1>
        <h4 class="body-background-text-title">Home - Shop - Green product</h1>
      </div>
     </div>
    <!-- MAIN CONTENT -->
     <div class="main-content">
      <div class="body row">
     
        <!-- SlideBar -->
         <div class="slide-bar col-lg-2">
           <div class="slide-bar-header">
             <i class="fa-solid fa-filter"></i>
             <h4 class="slide-bar-title">Bộ lọc tìm kiếm</h2>
           </div>
           <label class="container">Thực phẩm tươi
             <input type="checkbox" checked="checked">
             <span class="checkmark"></span>
           </label>
           
           <label class="container">Văn phòng phẩm
             <input type="checkbox">
             <span class="checkmark"></span>
           </label>
           
           <label class="container">Gia dụng
             <input type="checkbox">
             <span class="checkmark"></span>
           </label>
           
           <label class="container">Chăm sóc cá nhân
             <input type="checkbox">
             <span class="checkmark"></span>
           </label>
   
           <label class="container">Làm đẹp
             <input type="checkbox">
             <span class="checkmark"></span>
           </label>
   
           <label class="container">Thời trang xanh
             <input type="checkbox">
             <span class="checkmark"></span>
           </label>
   
           <label class="container">Hoa quả hữu cơ
             <input type="checkbox">
             <span class="checkmark"></span>
           </label>
           
           <label class="container">Đồ tái chế
             <input type="checkbox">
             <span class="checkmark"></span>
           </label>
           
           <label class="container">Đồ uống hữu cơ
             <input type="checkbox">
             <span class="checkmark"></span>
           </label>
           
           <label class="container">Cây trồng hạt giống
             <input type="checkbox">
             <span class="checkmark"></span>
           </label>
           
         </div>
         <!-- List Product -->
        <div class="body-main col-lg-10">
         <div class="body-list-range ">
           <p class="body-list-range-title">Sắp xếp theo</p>
           <div class="body-list-range-item list-range-active">Liên quan</div>
           <div class="body-list-range-item">Mới nhất</div>
           <div class="body-list-range-item">Bán chạy</div>
           <div class="body-list-range-item">Giá
             <i class="fa-solid fa-chevron-down"></i>
           </div>
         </div>
         <div class="body-list-products">
       <!-- HÀNG SẢN PHẨM THỨ NHẤT -->
           <div class="body-list-product-item col-lg-2">
           <div class="body-list-products-item-img">
               <img src="./image/cscn1.jpg" alt="" class="product-list-img">
           </div>
           <div class="body-list-product-item-title">Tinh dầu cam xả Essential</div>
           <div class="body-list-product-item-discount">15%</div>
           <div class="body-list-products-item-price">199.000
            <div class="body-list-products-item-price-unit">đ</div>
             <i class="fa-solid fa-tag"></i>
           </div>
           
       </div>
   
       <div class="body-list-product-item col-lg-2">
           <div class="body-list-products-item-img">
               <img src="./image/cscn2.jpg" alt="" class="product-list-img">
           </div>
           <div class="body-list-product-item-title">Nước hoa hồng Essancia (Rosa rubirinosa)</div>          
           <div class="body-list-product-item-discount">32%</div>
           <div class="body-list-products-item-price">199.000
            
            <div class="body-list-products-item-price-unit">đ</div>
             <i class="fa-solid fa-tag"></i>
           </div>
       </div>
   
       <div class="body-list-product-item col-lg-2">
           <div class="body-list-products-item-img">
               <img src="./image/cscn3.jpg" alt="" class="product-list-img">
           </div>
           <div class="body-list-product-item-title">Dầu dưỡng da mặt- Cây gai dầu & Argan </div>
           <div class="body-list-product-item-discount">20%</div>
           <div class="body-list-products-item-price">160.200 
            <div class="body-list-products-item-price-unit">đ</div>
             <i class="fa-solid fa-tag"></i>
           </div>
       </div>
   
       <div class="body-list-product-item col-lg-2">
           <div class="body-list-products-item-img">
               <img src="./image/cscn4.jpg" alt="" class="product-list-img">
           </div>
           <div class="body-list-product-item-title">Tinh chất dưỡng ẩm Greentea</div>
           <div class="body-list-product-item-discount">32%</div>
           <div class="body-list-products-item-price">200.400           
            <div class="body-list-products-item-price-unit">đ</div> 
            <i class="fa-solid fa-tag"></i>
           </div>
       </div>
   
       <div class="body-list-product-item col-lg-2">
         <div class="body-list-products-item-img">
             <img src="./image/cscn5.jpg" alt="" class="product-list-img">
         </div>
         <div class="body-list-product-item-title">Essancia Ylang Ylang (Cananga Odorata) </div>
         <div class="body-list-product-item-discount">25%</div>
         <div class="body-list-products-item-price">197.000
          
          <div class="body-list-products-item-price-unit">đ</div>
           <i class="fa-solid fa-tag"></i>
         </div>
     </div>
            <!-- List Product -->
        <div class="body-main col-lg-10">
            <div class="body-list-range ">
              <p class="body-list-range-title">Sắp xếp theo</p>
              <div class="body-list-range-item list-range-active">Liên quan</div>
              <div class="body-list-range-item">Mới nhất</div>
              <div class="body-list-range-item">Bán chạy</div>
              <div class="body-list-range-item">Giá
                <i class="fa-solid fa-chevron-down"></i>
              </div>
            </div>
            <div class="body-list-products">
                <!-- Lưới sản phẩm -->
             <div class="row">
               <% products.forEach((product, index) => { %>
                   <div class="col-lg-2">
                       <a href="/product-detail">
                           <div class="item 1">
                               <div class="body-list-product-item">
                                   <div class="body-list-products-item-img">
                                       <img src="/product_image/<%= product.HinhChinh %>" alt="<%= product.TENSP %>" class="product-list-img">
                                   </div>
                                   <div class="body-list-product-item-title"><%= product.TENSP %></div>
                                   <div class="body-list-product-item-discount">15%</div>
                                   <div class="body-list-products-item-price">
                                       <%= new Intl.NumberFormat('vi-VN').format(product.DGBanMacDinh) %>
                                       <div class="body-list-products-item-price-unit">đ</div>
                                       <i class="fa-solid fa-tag"></i>
                                   </div>
                               </div>
                           </div>
                       </a>
                   </div>
   
         <!-- Mỗi 6 sản phẩm sẽ đóng và mở lại <div class="row"> -->
         <% if ((index + 1) % 6 === 0 && index !== products.length - 1) { %>
             </div><div class="row">
         <% } %>
     <% }); %>
   </div>
          
         </div>
        </div>
       </div>
       <!-- PAGE NUMBER -->
       <div class="body-page-number">
        <!-- Left Arrow -->
        <i class="fa-solid fa-chevron-left" 
          <% if (page > 1) { %> 
              onclick="window.location.href='/products?page=<%= page - 1 %>'"
          <% } else { %>
              class="disabled"
          <% } %>
        ></i>

        <!-- Page Number List -->
        <ul class="body-page-number-list">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="body-page-number-item <% if (i === page) { %>page-number-active<% } %>">
                    <a class="body-page-number-item" href="/products?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>

        <!-- Right Arrow -->
        <i class="fa-solid fa-chevron-right"
          <% if (page < totalPages) { %>
              onclick="window.location.href='/products?page=<%= page + 1 %>'"
          <% } else { %>
              class="disabled"
          <% } %>
        ></i>
      </div>
     </div>
     <script type="text/javascript" src="../assets/main.js"></script>
</body>
<%- include('layout/footer')  %>
</html>